<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fog</title>
    <link rel="icon" type="image/png" href="/images/FOGlogo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header class="blue-color">
        <a href="returnlogo">
            <img class="FOGlogo" alt="logo" src="../public/images/FOGlogo.png" th:src="@{/images/FOGlogo.png}"/>
        </a>
    </header>

    <form class="Button-premade-buy">
        <img class="premadecarport1" alt="carport" src="../public/images/carport1.png"
             th:src="@{/images/carport1.png}"/>
        <label>
            <p>Vi har brug for din E-mail for at sende dig en kvitering</p>
            <input type="text" name="email" placeholder="email"/>
        </label>
        <button class="btn-buy" formaction="payment.html">Til Betaling</button>
    </form>

    <h3>Har du spørgsmål?</h3>
    <h5>kontakt os på:</h5>
    <p>E-mail: webshop@johannesfog.dk</p>
    <p>tlf: 90909090</p>

    <a th:if="${session.currentUser != null}" href="index.html" th:href="@{/logout}">
        <button class="button-white">Log ud</button>
    </a>
</div>
</body>
</html>