<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fog</title>
    <link rel="icon" type="image/png" href="/images/FOGlogo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header class="blue-color">
        <a href="returnlogo">
            <img class="FOGlogo" alt="logo" src="../public/images/FOGlogo.png" th:src="@{/images/FOGlogo.png}"/>
        </a>
    </header>

    <h1>Tak for din forespørgsel</h1>
    <h1>Vi vender tilbage med et skræddersyet tilbud til dig</h1>
    <h2>Hold dig opdateret ved at logge ind på din konto, eller gå til din oversigt nedenfor.</h2>

    <a class="offer-list-button" href="offeroverview.html">
        <button class="button-blue">Din oversigt</button>
    </a>

    <a th:if="${session.currentUser != null}" href="index.html" th:href="@{/logout}">
        <button class="button-white">Log ud</button>
    </a>
</div>
</body>
</html>